:root {
  color-scheme: dark light;
  font-family: sans-serif;
}

body {
  background-color: #242424;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}